.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightsalmon;
    padding: 20px;
    color: white;
}
.main-container {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 40px;
    
}
.form1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.button {
    border-radius: 5px;
    background-color: bisque;
    padding: 3px;
}